= simple_form_for @student, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = error_span(@student[:name])
  = f.input :register_number
  = error_span(@student[:register_number])
  = f.input :status
  = error_span(@student[:status])
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), students_path, :class => 'btn btn-default'
