%p#notice= notice

%p
  %b Name:
  = @student.name
%p
  %b Register number:
  = @student.register_number
%p
  %b Status:
  = @student.status

= link_to 'Edit', edit_student_path(@student)
\|
= link_to 'Back', students_path
