= simple_form_for @course, :html => { :class => 'form-inline' } do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control"
  .form-group
    = f.label :description
    = f.text_area :description, class: "form-control"
  - unless @course.new_record?
    .form-group
      = f.label :status
      = f.select :status, options_for_select(Course.statuses_to_s, selected: @course.status), {} , class: "form-control"
      
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), courses_path, :class => 'btn btn-default'