= simple_form_for @course, :html => { :class => '' } do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control"
    %span.help-block Esse campo é obrigatório
  .form-group
    = f.label :description
    = f.text_field :description, class: "form-control"
    %span.help-block Esse campo é obrigatório
  - unless @course.new_record?
    .form-group
      = f.label :status
      = f.select :status, options_for_select(Course.statuses_to_s, selected: @course.status), {} , class: "form-control"
      
  = f.button :submit, :class => 'btn-primary submit-button'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), "#", :class => 'btn btn-default close-new-form-container'